<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="../public/css/saiba-mais.css">
</head>
<body>
    <h1>Saiba Mais</h1>
    <p>Mais informações sobre o Sangue Herói...</p>
    <a href="/">Voltar para Home</a>
</body>
</html>
