.container_prototipo {
    padding: 20px;
    text-align: center;
}

.container_prototipo h1 {
    color: #333;
}

.container_prototipo p {
    color: #666;
}

.container_prototipo a {
    color: blue;
}