/*Klayvem Guimarães*/
/*Lucas Phelipe*/
/*Rodrigo Pereira Lopes*/
/*Rafaela*/
/*Cynthia Grayt*/
/*Bruno Cicero*/

@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

body{
    margin: 0px;
    zoom: 75%;
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-decoration: none;
    list-style: none;
    margin-right: 30px;
    color: white;
    font-family: "Rowdies", sans-serif;
}

.container_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E40A0A;
    padding: 0px;
    height: 95px;
    cursor: pointer;
}

.container_navbar > img {
    max-width: 80px;
    border-radius: 300px;
    margin-left: 10px;
}

.container_home{
    display: flex;
    flex-direction: row;
    padding: 80px;
    margin-top: 90px;
    justify-content: space-between;
    align-items: center;
}

.container_text{
    font-size: 22px;
    width: 40%;
    font-family: "Rowdies", sans-serif;
}

.container_text > p {
    font-size: 18px;
    font-family: "Rowdies", sans-serif;
}
.container_text h2 {
    font-weight: 400;
    width: 70%;
}
.container_text > button {
    background-color: #E40A0A;
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    gap: 20px;
    width: 40%;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-family: "Rowdies", sans-serif;
    cursor: pointer;
}

.container_text > button .acesseInstagram {
    text-decoration: none;
}

.container_home > img {
    width: 400px;
    height: 400px;
}

.container {
    display: flex;
}

.text-container {
    flex: 1;
    padding: 20px;
}

/*--Carrossel--*/
.carousel-container {
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: space-between; 
    margin-left: 300px; 
    padding: 20px;
}

.carousel-container-end {
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: space-between; 
    margin-left: 30px; 
    margin-right: 100px;
    padding: 20px;
}

.carousel-list {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-list2 {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    color: red;
    font-weight: 100;
}
/*----*/

/*---MIDDLE - MEIO----*/
.container_middle {
    background-image: linear-gradient(120deg,#E40A0A, #3B0000);
    display: flex;
    flex-direction: row;
    padding: 80px;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    height: 620px;
}

.container_text_middle {
    font-size: 22px;
    width: 40%;
    font-family: "Rowdies", sans-serif;
    color: white;
}

.container_text_middle > button {
    background-color: white;
    color: #E40A0A;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    gap: 20px;
    width: 40%;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-family: "Rowdies", sans-serif;
    cursor: pointer;
} 

.leque { /*leque de imagens do protótipo*/
    margin-top: 200px;
    position: relative;
    width: 900px; 
    height: 200px;
}
  
.leque img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) ;
    transition: 0.3s ease-in-out;
    border-radius: 20px;
}


.leque img:nth-child(1) {
    transform: translateX(-50%) translateY(-50%) rotate(0deg) scale(0.7);
}
  
.leque img:nth-child(2) {
    transform: translateX(-25%) translateY(-49%) rotate(20deg) scale(0.7);
}
  
.leque img:nth-child(3) {
    transform: translateX(0%) translateY(-43%) rotate(35deg) scale(0.7);
}

/*------------*/

.container_end {    
    display: flex;
    flex-direction: row;
    padding: 80px;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    height: 620px;
}

/*--------------*/

.container_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E40A0A;
    color: white;
    height: 120px;
    padding: 20px;
}

.container_footer p, .container_footer a{
    margin: 0;
    font-family: "Rowdies", sans-serif;
    text-decoration: none;
    color: white;
}

.left, .right {
    display: flex;
    align-items: center;
    padding: 20px;
}

p {
    font-size: 25px;
}

.middle {
    text-align: center;
}

.fa-2x i {
    padding: 10px;
}

#botaoSaibaMais {
    width: 300px;
    height: 60px;
}

.container_navbar > img{
    margin-left: 80px;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: center;
    }

    .container_home,
    .container_middle,
    .container_end,
    .container_footer {
        padding: 10px;
    }

    .container_text {
        margin-left: 100px;
    }

    .container_text > button {
        max-width: none;
        width: 100%;
    }

    .leque img {
        width: 30%;
    }
    .container_text_middle {
        margin-left: 100px;
    }

    .container_text_middle > p{
        font-size: 20px;
    }

    .container_text_middle > button {
        font-size: 12px;
        width: 100%;
        margin-bottom: 40px;
    }

    .carousel-container {
        width: 40%;
    }

}